.custom{
    height: 100vh;
    width: 100vw;
    background-color: rgb(226, 195, 168);
    position: fixed;
}
.div1{
    margin-top: 20vh;
    height: 15vh;
    width: 103vw;
    background-color: rgb(252, 121, 6);
    transform: rotate(-7deg);
    box-shadow: 5px 2px 20px;
}
.div2{
    margin-top: 30vh;
    height: 15vh;
    width: 103vw;
    background-color: rgb(252, 121, 6);
    transform: rotate(-7deg);
    box-shadow: 5px 2px 20px;
}